<div class="contact-container">
  <div class="contact-banner">
    <h2 class="contact-title">Let's talk!</h2>
  </div>

  <div class="contact-content">
    <div>
      <p>If you are interested in hiring me or discussing a project, contact me at:</p>
      <h3><i class="far fa-envelope" id="envelope"> </i> serenaud89@gmail.com</h3>
      <h3><i class="fas fa-phone" id="phone"></i> +1 832-269-4278</h3>
    </div>
    <div>
    <%= image_tag "mirage-message-sent.png", class: "img-contact" %>
    </div>
  </div>

</div>


