
<div class="content-container">
  <div id="title"><h2>About<h2>
  <h2 id="name">Susan Renaud</h2>
  </div>

  <div class="description">
  <h3>Full-stack Web Developer interested in UX Research and Data Analysis. Research and applied psychology background. Recent graduate of Le Wagon London intensive 9 week full-stack bootcamp. Currently based in Houston, TX, USA. Willing to relocate or work remotely.
  </h3>
  </div>
</div>



