
<div class="content-container">
  <div class="container-image">
     <div id="susan"><%= image_tag "OtherProfilePicture.jpg", class: "img-susan", alt: "Susan Renaud" %>
     </div>

     <div class="container-image-skills">

       <ul>
        <h3 id="skills">Skills</h3>
         <li>Full-Stack Web Development</li>
          <ul><li>HTML5</li>
            <li>CSS/SCSS</li>
            <li>Bootstrap</li>
            <li>Ruby</li>
            <li>Ruby on Rails</li>
            <li>UX/UI</li>
            <li>JavaScript(ES6)</li>
            <li>SQL</li>
            <li>MVC Framework</li>
            </ul>
          <li>Research</li>
          <li>Team Leadership/Management</li>
          <li>Applied Behavior Analysis</li>
       </ul>
     </div>
  </div>
  <div class="container-content">
    <div id="title"><h2>About</h2>
    </div>
    <div class="description">
    <h4>Full-Stack Web Developer interested in UX Research and Data Analysis. Research and applied psychology background.</h4>

    <p style= "font-weight: lighter;">Recent graduate of Le Wagon London intensive 9 week full-stack bootcamp. Currently based in Houston, TX, USA. Willing to relocate or work remotely.</p>
    <p style="font-weight: lighter;">I am a tech enabled UX Researcher | Data Analyst looking to leverage my previous experience I have attained in my past roles in research and applied psychology with my newly acquired tech skills. I chose to study psychology and public health in university because I wanted to make a positive impact on the world.
    </p>

    <p style="font-weight: lighter;">After working in Applied Behavior Analysis for nearly three years, I developed a burgeoning interest in technology and decided to make a change. Because of this, I made the decision to attend Le Wagon London Bootcamp to learn full-stack web development. I am looking for an opportunity to learn and improve my new technical skills while also incorporating my previously acquired skills.
    </p>


    </h4>
    </div>
  </div>
</div>




