<div class="projects-container">
  <h1 id="projects-title" style="text-align: center; padding-top: 20px; font-weight: bolder; text-decoration: underline;">Projects</h1>


  <div class="cards">
    <div class="card" >
      <%= image_tag "TwoWheeler.png", class: "card-img-top", alt: "Two Wheeler" %>
      <div class="card-body">
        <h5 class="card-title">Two Wheeler</h5>
        <p class="card-text">Two Wheeler is a bike rental platform that allows people to rent whatever type of bike they want, no matter where they are. This app also allows people who have bikes to rent them out to make some extra money! Developed in a team of two, using Ruby on Rails, HTML, CSS/SCSS, Bootstrap, Figma, JavaScript, various APIs, Git, GitHub and Heroku.</p>
        <a href="http://www.twowheeler.site/" class="btn btn-outline-secondary active">Check out Two Wheeler!</a>
      </div>
    </div>

    <div class="card">
      <%= image_tag "Losty.png", class: "card-img-top",alt: "Losty" %>
      <div class="card-body">
        <h5 class="card-title">Losty!</h5>
        <p class="card-text">Losty is a lost and found application that connects those who have lost items or pets to those who have found them. Designed and coded in a team of two, using Ruby on Rails, HTML, CSS/SCSS, Bootstrap, Figma, Whimsical, JavaScript, Mapbox and Cloudinary APIs, Git, GitHub and hosted on Heroku.


        </p>
        <a href="http://www.losty.me/" class="btn btn-outline-secondary active">Check out Losty!</a>
      </div>
    </div>
  </div>
</div>
