.navbar {
 display: flex;
 top: 0;
 width: 100%;
 justify-content: space-between;
 position: fixed;
 background-color: #FFFFFF;
}

.navbar-buttons {
  display: block;
  margin-top: 30px;
  text-decoration: none;
  justify-content: center;
}

.btns{
  margin: 25px 20px;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;

}

#title {
  position: relative;
}

#name {
  font-weight: lighter;
  text-align:left;
  margin-right: 650px;
}


.navbar-brand img {
 width: 60px;
 border-radius: 50%;
 margin: 20px 0 0 20px;

 }



.nav-item {
  margin: auto 16px;

}

