// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  color: rgb(35, 38, 23) ;
  background-color: #c7cbe0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 300;
  text-align: justify;
  padding-top: 100px;
  margin: 0;
}



.content-container {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1140px;
  margin: 30px auto 60px;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 15px rgba(0,0,0,0.1);
}

#title {
  justify-content:center;
}
