// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  color: rgb(35, 38, 23) ;
  background-color: #c7cbe0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 300;
  text-align: justify;
  padding-top: 100px;
  margin: 0;
}

.content-container {
  justify-content:center;
  margin: 0;
  padding: 50px;
}

#title {
  justify-content:center;
}
